.dataButton
{
    float: right;
    border: none;
    color: white;
    background-color: rgb(142, 177, 199);
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    transition: transform .2s;
    margin: 1px;
    position: sticky;
    top: 0;
}

.dataButton:hover
{
    transform: scale(1.05);
    background-color: lightskyblue;
}