html, body
{
    background-color: lightgray;
    margin: 0%;
}

*
{
    font-family: 'Roboto', sans-serif;
}

.grid-container
{
    display: grid;
    height: 100%;
    grid-template-rows: auto 80% 10%; 
    grid-template-areas: "Title Title Title"
                         ". Content ."
                         "below below below";
    grid-template-columns: repeat(3, 1fr);
}

.headers
{
    grid-area: Title;
    background-color: gray;
}

.content
{
    height: 100%; 
    grid-area: Content;
    
}

.below
{
    grid-area: below;
}

span.psw 
{
    float: right;
    padding-top: 16px;
}
